.design {
  display: none;
}

.microsoft {
  display: none;
}

.java {
  display: none;
}

.react {
  display: none;
}

.ruby {
  display: none;
}

.result {
  float: right;
}

body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: darkorange;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-weight: bold;
  font-size: 14pt;
}

form {
  margin-bottom: 30px;
}

img {
  width: 300px;
  margin: 10px;
}

p {
  width: 450px;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

@media screen and (max-width: 991px) {
  .result {
    float: none;
  }
}
